
@font-face {
    font-family: "digit-font";
    src: url("/src/DS-DIGI.TTF");
}

._d_parent {
    padding: 1rem;
    background-color: hsl(210,10%,15%);
    display: inline-flex;
    flex-direction: column;
}

._demineur {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

._demineur_top {
    font-size: 2.2rem;
    font-family: "digit-font";
    color: white;
    padding: calc(1rem + 2px);
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid hsl(210,10%,4%);
    border-top: none;
    border-left: none;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    background-color: hsla(0, 0%, 45%, .03);
    background-image: radial-gradient(at top left, hsla(0, 0%, 45%, .1) 10%, transparent 75%);
}

._d_timer, ._d_flagCount {
    border: 1px solid hsl(210,10%,4%);
    border-top: none;
    border-left: none;
    border-radius: 4px;
    width: 7.4rem;
    padding: 0rem 0.5rem;
    line-height: 2.5rem;
    text-shadow: 3px 3px 1px hsla(0, 0%, 5%, .8);
    background-color: hsla(0, 0%, 35%, .4);
}

._d_flagCount {
    text-align: right;
}

._d_emote {
    display: block;
    width: auto;
    height: 2.6rem;
    filter: drop-shadow(1px 1px 2px hsla(0,0%,0%,.5));
}

._d_row {
    display: flex;
    flex-wrap: nowrap;
}

._d_case {
    display: block;
    height: 2rem;
    width: 2rem;
    margin: 1px;
    margin-top: 2px;
    margin-left: 2px;
    border: 1px solid hsl(210,10%,4%);
    border-top: none;
    border-left: none;
    border-radius: 4px;
    background-image: radial-gradient(at top left, hsla(0, 0%, 45%, .2) 10%, transparent 75%);
    cursor: pointer;
    line-height: 2rem;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

._d_case._d_mine {
    margin: 2px;
    border: none;
    background-color: hsla(0, 100%, 50%, .2);
    box-shadow: 3px 3px 4px 0 hsl(0, 0%, 0%, .7) inset;
    background-image: url('/src/bombe.png');
    background-size: cover;
    background-position: center;
}

._d_case._d_flag._d_mine {
    background-color: hsla(100, 100%, 50%, .3);
}

._d_case._d_opened {
    margin: 2px;
    border: none;
    background-color: hsla(0, 0%, 45%, .7);
    box-shadow: 2px 2px 4px 0 hsl(0, 0%, 0%, .4) inset;
    background-image: radial-gradient(at bottom right, hsla(0, 0%, 83%, .4) 10%, transparent 75%);
    filter: drop-shadow(2px 2px 1px hsla(0,0%,0%,.2));
    text-shadow: 0 0 2px hsla(0, 0%, 5%, .9);
}

._d_case._d_flag._d_opened {
    color: transparent!important;
    text-shadow: none!important;
    background-color: hsla(0, 50%, 15%, .7);
}

._d_case._d_flag {
    background-image: url("/src/flag.png"), radial-gradient(at top left, hsla(0, 0%, 45%, .3) 10%, transparent 75%);
    background-size: cover;
    filter: drop-shadow(2px 2px 1px hsla(0,0%,0%,.6));
}